body{
	padding : 1;
	margin : 1;
	border : 0;
	background: url(img/Background.jpg);
}

/* ----------- Laptops Non-Retina ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {

	
.blended_grid{
	display : block;
	width : 1000px;
	overflow : hidden;
	margin : 30px auto 0 auto;
	border-radius: 10px;
}

.pageHeader{
	float : left;
	clear : none;
	height : 200px;
	width : 1000px;
}


.pageHorizontalMenu{
	background-color : rgba(0, 0, 0, 0.5);
	float : left;
	clear : none;
	height : 70px;
	width : 1000px;
}


.pageContent{
	background-color : rgba(0, 0, 0, 0.5);
	float : left;
	clear : none;
	height : 680px;
	width : 1000px;
}


.pageFooter{
	background-color : rgba(0, 0, 0, 0.5);
	float : left;
	clear : none;
	height : 50px;
	width : 1000px;
}





h1 {
	font-size: 8px;
}

/* CSS Meny Inställningar */


#meny {
	list-style: none;
	font-weight: bold;
	margin-bottom: 10px;
	float: left;
	width: 100%;
	position: relative;
	z-index: 5;
}

#meny li {
	float: left;
	margin-right: 10px;
	position: relative;
}
	  
#meny a {
	display: block;
	text-align: center;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
	color: white;
	background: #303030;
    padding: 10px;
	text-decoration: none;
}


#meny li a:hover {
	cursor: pointer;
	background: #ff6600;
	color: white;
	text-decoration: none;
}

/* DROPDOWN */

#meny ul {
	background: #303030; /* Byter BakgrundsFärg på Huvudkategori */
	background: rgba(255, 255, 255, 0);
	list-style: none;
	position: absolute;
	left: -9999px;	/* När DROPDOWN inte används är den placerad långt utanför skärmen */
}

#meny ul li {
	padding-top: 10px;
	float: none;
}

#meny ul a {
	white-space: nowrap; /* Gör så att texten inte byter rad */
}

#meny li:hover ul {
	left: 0;
}

#meny li:hover a {
	background: #ff6600; /* Byter Färg på Huvudkategori (på :hover) */
	text-decoration: none;
}

#meny li:hover ul a {
	text-decoration: none;
}

#meny li:hover ul li a:hover {
	background: #303030; /* Byter Färg på Underkategori (på :hover) */
}

} /* slutTag Horizontel Laptop Meny */



/* Länkar visas som vanlig text */
a {
	text-decoration: none;
	cursor: pointer;
}

/* Text under bild i Lightbox */
#bildtext {
	text-align: center;
	font: Arial;
	font-size: 20px;
	color: white;
}

/* Bilder */
.thumb {
	max-width: 60%;
	max-height: 60%;
 }
 
 #photos {
	 line-height: 5;
	 column-count: 4;
 }
 
 #photos img {
	 width: 186px;
	 height: 60px;
 }

/* Lightbox "Gallery" */
.lightbox {
	display: none;
	
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
}

/* Bild i Lightbox */
.lightbox img {
	max-width: 100%;
	max-height: 100%;
	margin-top: 15%;
}

/*  */
.lightbox:target {
	outline: none;
	display: block;
}

}